body {
  position: relative; 
  margin: 0; 
  height: 100vh; 
  font-family: 'Press Start 2P', cursive;
}
 
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(rgba(224, 198, 175, 0.9), rgba(224, 198, 175, 0.9)), 
  url('/img/pokearchLogo.jpg') no-repeat center;
  background-size: cover; 
  z-index: -1; 
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.navbar-brand {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: #FFF;
}
.navbar-brand:hover {
  color: #E0C6AF;
}
.nav-link {
  color: #FFF !important;
}
/* Boton de Bsuqueda */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-bar {
  width: 50%; /* Ajustar tamaño del cuadro de búsqueda */
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.search-bar:focus {
  outline: none;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}
.btn-search {
  margin-left: 10px;
  border-radius: 50px;
  background-color: #FFD580; /* Amarillo pastel */
  color: #333;
  border: none;
  padding: 10px 20px;
}
.btn-search:hover {
  background-color: #FFAA33; /* Amarillo más intenso */
  color: white;
}
/* Pokemon Cards */