body {
  position: relative; /* Necesario para usar el pseudo-elemento */
  margin: 0; /* Eliminar márgenes por defecto */
  height: 100vh; /* Asegurar que el fondo ocupe toda la pantalla */
}
 
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(rgba(224, 198, 175, 0.5), rgba(224, 198, 175, 0.5)), 
  url('/img/pokearchLogo.jpg') no-repeat center;
  background-size: cover; /* Ajustar la imagen al tamaño del viewport */
  z-index: -1; /* Colocar detrás del contenido del body */
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #FFF;
}
.nav-link {
  color: #FFF !important;
}
.search-bar {
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.search-bar:focus {
  outline: none;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}
.btn-search {
  border-radius: 50px;
  background-color: #FFD580; /* Amarillo pastel */
  color: #333;
  border: none;
}
.btn-search:hover {
  background-color: #FFAA33; /* Amarillo más intenso */
  color: white;
}